<div class="uk-section uk-section-small uk-section-muted">
  <div class="uk-container">
    <h1 class="uk-heading">About</h1>
    <article class="uk-article">
      <p class="uk-text">
        Welcome! My name is Alan. I'm a writer and editor from Chicago. I've worked on stage, TV, and film projects, but
        began in the sketch comedy world, finding an interest in creating flawed characters in desperate circumstances.
      </p>
      <p class="uk-text">
        Take a look at my portfolio. I've been lucky to work on projects like...
      </p>
      <ul class="uk-list uk-list-bullet">
        <li><span class="uk-text-italic">Love Me (K)not</span>, an independently-produced rom-com web series</li>
        <li><span class="uk-text-italic">Comet</span>, a dramatic play being produced during the summer of 2024</li>
        <li><span class="uk-text-italic">I-80: An Interstate Crime Story</span>, a 60-minute dark comedy TV series</li>
      </ul>
    </article>
  </div>
</div>
