<div class="uk-section uk-section-small uk-section-muted">
  <div class="uk-container">
    <h1 class="uk-heading">About</h1>
    <article class="uk-article">
      <p class="uk-text">
        Welcome! My name is Alan. I'm a writer and editor from Chicago. I've worked on stage, TV, and film projects, but
        began in the sketch comedy world, finding an interest in creating flawed characters in desperate circumstances.
      </p>

      <!--
      <div class="uk-animation-toggle" tabindex="0">
        <img class="uk-animation-stroke" src="assets/images/venn.svg" uk-svg="stroke-animation: true" />
      </div>
      -->
      <div class="uk-flex uk-flex-center">
        <img src="assets/images/venn.png" />
      </div>


    </article>
  </div>
</div>
