<div class="uk-section uk-section-xsmall">
  <div class="uk-container">
    <h1 class="uk-heading">Portfolio</h1>
  </div>
</div>

<div class="uk-section uk-section-xsmall">
  <div class="uk-container">
    <div class="uk-grid uk-grid-small uk-child-width-1-2@s" uk-grid>
      <div *ngFor="let project of matchingProjects" attr.uk-toggle="target: #{{getId(project)}}">
        <div class="uk-card project">
          <div class="uk-inline">
            <span class="uk-label {{getImageLabelClass(project)}} project-image-label">{{project.genre}} {{project.type}}</span>
            <canvas width="1920" height="1080"></canvas>
            <img src="{{project.image}}" uk-cover />
          </div>
          <div class="project-image-caption">
            <h5 class="uk-heading uk-text-left" style="display: inline">{{project.title}}</h5>

            <div class="project-image-caption-laurels uk-visible@m">
                <span *ngFor="let laurel of getUniqueLaurels(project) | keyvalue">
                  <img *ngIf="laurel.key" class="uk-comment-avatar" [src]="laurel.key">
                  <span *ngIf="laurel.value > 1" class="uk-badge">{{laurel.value}}</span>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let project of matchingProjects; index as i" id="{{getId(project)}}" class="uk-modal-full" uk-modal uk-slideshow>
  <div class="uk-modal-dialog">
    <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#{{getPreviousId(i)}}" uk-slidenav-previous uk-toggle></a>
    <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#{{getNextId(i)}}" uk-slidenav-next uk-toggle></a>

    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>

    <div class="uk-grid-collapse uk-child-width-1-2@m uk-flex-middle" uk-grid>
      <div class="uk-background-cover" style="background-image: url({{project.image}});" uk-height-viewport>
        <div class="uk-position-bottom uk-margin-left">
          <p class="uk-light">{{project.image_attribution}}</p>
        </div>
      </div>
      <div class="uk-padding-large">
        <h1 class="uk-heading uk-margin-remove-bottom">{{project.title}}</h1>

        <p class="uk-text-uppercase uk-text-muted uk-margin-remove-top">
          {{project.genre}} {{project.type}},

          <span *ngIf="project.endYear; then endedProject else ongoingProject"></span>
          <ng-template #ongoingProject>{{project.startYear}} &mdash;</ng-template>
          <ng-template #endedProject>
            <span *ngIf="project.startYear == project.endYear; then singleYear else multiYear"></span>
            <ng-template #singleYear>{{project.startYear}}</ng-template>
            <ng-template #multiYear>{{project.startYear}} &mdash; {{project.endYear}}</ng-template>
          </ng-template>
        </p>

        <ng-container *ngFor="let role of project.roles">
          <span class="uk-label uk-margin-small-right">{{role}}</span>
        </ng-container>
        <p>{{project.description}}</p>

        <ul class="uk-comment-list">
          <li *ngFor="let highlight of project.highlights" style="margin-top: 20px">

            <article class="uk-comment uk-visible-toggle">
              <header class="uk-comment-header uk-position-relative">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                  <div class="uk-width-auto" *ngIf="highlight.image">
                    <img class="uk-comment-avatar" [src]="highlight.image" width="80" height="80" alt="">
                  </div>
                  <div class="uk-width-expand">
                    <h5 class="uk-comment-title uk-margin-remove">{{highlight.title}}</h5>
                    <p class="uk-comment-meta uk-margin-remove-top">{{highlight.description}}</p>
                  </div>
                </div>
              </header>
            </article>
          </li>
        </ul>

        <hr/>

        <a *ngIf="project.website" class="uk-margin-right" href="{{project.website}}" target="_blank" uk-icon="icon: world; ratio: 2"></a>
        <a *ngIf="project.youtube" class="uk-margin-right" href="{{project.youtube}}" target="_blank" uk-icon="icon: youtube; ratio: 2"></a>
        <a *ngIf="project.coverfly" class="uk-margin-right" href="{{project.coverfly}}" target="_blank" uk-icon="icon: file-text; ratio: 2"></a>
      </div>
    </div>
  </div>
</div>
