.uk-card-badge {
  background-color: #333;
}

.project {
  border-right: 0.1px solid lightgray;
  border-left: 0.1px solid lightgray;
  border-bottom: 0.1px solid lightgray;
  border-top: 0.1px solid lightgray;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.project-image-label {
  z-index: 100;
  position: relative;
  right: 15px;
}

.project-image-caption {
  background-color: #FFF;
  padding-left: 5px;
  padding-top: 10px;
  height: 60px;
  line-height: 60px;
  vertical-align: center;

  .project-image-caption-laurels {
    display: inline;
    float: right;
    right: 0;
    position: relative;
    vertical-align: center;
    top: -2.5px;

    img {
      max-height: 60px;
      width: 70px;
      margin-left: 5px;
      filter: invert(100%);
    }

    .uk-badge {
      position: relative;
      right: 10px;
      display: inline;
      top: -15px;
    }
  }
}
