:host {
  width: 100%;
}

.scene-item {
  display: flex;
  font-size: 0.8rem;
  padding-left: 5px;
  //border-top: 0.1px solid #999;
  a {
    //pointer-events: none;
  }
  &.uk-active {
    background-color: #d3d3d3;
  }
}

.scene-item-text {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
}

.scene-item-size-label {
  font-family: monospace;
  font-size: 0.7rem;
  width: 20px;
}

.scene-item-icon {
  margin-left: auto;
  margin-right: 5px;
}
