<div class="uk-background-cover uk-overflow-hidden uk-light uk-flex"
     style="background-image: url('assets/images/sedgwick/sedgwick_header.jpg'); background-position: 50% 60%; height: 350px;">
  <div class="uk-width-1-1 uk-width-1-2@s uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 class="uk-heading">SEDGWICK</h1>
    <div class="pills">
      <button class="uk-button uk-button-primary uk-button-medium" disabled>
        Horror
      </button>
      <div class="uk-button uk-button-primary uk-button-medium" disabled>
        Short Series
      </div>
    </div>
  </div>
</div>

<div class="uk-section-xsmall">
  <div class="uk-container uk-container-expand">
    <div uk-grid>
      <div class="uk-visible@m uk-width-1-6@m">
        <div style="position: relative; left: 50px; top: 15px; float: left" uk-sticky="offset: 20">
          <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header">Pitch Deck</li>
            <li class="uk-nav-divider"></li>
            <li><a uk-scroll href="sedgwick#logline">Logline</a></li>
            <li><a uk-scroll href="sedgwick#story">Story</a></li>
            <li><a uk-scroll href="sedgwick#themes">Themes</a></li>
            <li><a uk-scroll href="sedgwick#comparisons">Comparisons</a></li>
            <li>
              <a uk-scroll href="sedgwick#characters">Characters</a>
              <ul class="uk-nav-sub">
                <li><a uk-scroll href="sedgwick#characters-lester">Lester</a></li>
                <li><a uk-scroll href="sedgwick#characters-chicago">Chicago</a></li>
              </ul>
            </li>
            <!--
            <li><a uk-scroll href="sedgwick#episodes">Episodes</a></li>
            -->
          </ul>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-5-6@m uk-width-2-3@l">
        <div class="uk-section uk-section-xsmall" id="logline">
          <h2 class="uk-heading">LOGLINE</h2>
          <p class="uk-text">
            A malevalent ghoul walks the streets of Chicago, embedding itself in the city inhabitants' lives.
            <!--
            For some, it inspires fear; for others, its predictable and violent nature presents opportunity.
            -->
          </p>
        </div>

        <div class="uk-section uk-section-xsmall" id="story">
          <h2 class="uk-heading">STORY</h2>
          <div class="uk-grid-small uk-grid-match" uk-grid>
            <div class="comic-panel uk-width-1-1 uk-width-1-2@m">
              <img src="assets/images/sedgwick/comic_1_have_you_seen_him.png" />
            </div>
            <div class="comic-panel uk-width-1-1 uk-width-1-2@m">
              <img src="assets/images/sedgwick/comic_2_devin_doesnt_wanna_show_me.png" />
            </div>
            <div class="comic-panel uk-width-1-1 uk-width-2-5@m">
              <img src="assets/images/sedgwick/comic_3_shes_scared.png" style="object-position: 40% 0%"/>
            </div>
            <div class="comic-panel uk-width-1-1 uk-width-3-5@m">
              <img src="assets/images/sedgwick/comic_4_she_doesnt_like.png" />
            </div>
            <div class="comic-panel uk-width-1-1 uk-width-1-2@m">
              <img src="assets/images/sedgwick/comic_5_this_city_loves.png" />
            </div>
            <div class="comic-panel uk-width-1-1 uk-width-1-2@m">
              <img src="assets/images/sedgwick/comic_6_they_do_tours.png" />
            </div>
            <div class="comic-panel uk-width-1-1">
              <img class="uk-hidden@s" src="assets/images/sedgwick/comic_7_mascot.png" />
              <img class="uk-visible@s" src="assets/images/sedgwick/comic_7_mascot.png" style="height: 400px" />
            </div>
            <div class="comic-panel uk-width-1-1">
              <img class="uk-hidden@s" src="assets/images/sedgwick/comic_8_benny_the_bull.png" />
              <img class="uk-visible@s" src="assets/images/sedgwick/comic_8_benny_the_bull.png" style="height: 400px; object-position: 0% 30%" />
            </div>
            <div class="comic-panel uk-width-1-1">
              <img class="uk-hidden@s" src="assets/images/sedgwick/comic_9.png" />
              <img class="uk-visible@s" src="assets/images/sedgwick/comic_9.png" style="height: 450px; object-position: 0% 80%" />
            </div>
            <div class="comic-panel uk-width-1-1 uk-width-3-5@m">
              <img src="assets/images/sedgwick/comic_10.png" />
            </div>
            <div class="comic-panel uk-width-1-1 uk-width-2-5@m">
              <img src="assets/images/sedgwick/comic_11.png" />
            </div>
          </div>
        </div>

        <div class="uk-section uk-section-xsmall" id="themes">
          <h2 class="uk-heading">THEMES</h2>
          <p class="uk-text">
            "Sedgwick" is about complacency. Anyone who has lived in a city knows there's a lot of suffering we
            wave away as "just part of city life" &mdash; violence, poverty, drug overdoses, <i>lead pipes</i>. They're
            so routine we often don't think of them as problems to solve anymore. At best, we ignore them; at worst, we
            find them <span class="uk-text-italic">entertaining</span>.
          </p>

          <p class="uk-text">
            If this is how an American city handles societal ills...<span class="uk-text-italic">how would they handle the emergence of a monster?</span>
          </p>
        </div>

        <div class="uk-section uk-section-xsmall" id="comparisons">
          <h2 class="uk-heading">COMPARISONS</h2>
          <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
              <img class="uk-border-rounded" src="assets/images/sedgwick/candyman.jpeg" style="height: 200px; object-position: 50% 10%"/>
              <p>Combine the city setting and community focus of <i>Candyman</i>...</p>
            </div>
            <div>
              <img class="uk-border-rounded" src="assets/images/sedgwick/jaws.jpg" style="height: 200px; object-position: 50% 5%"/>
              <p>...with the struggling city government of <i>Jaws</i>...</p>
            </div>
            <div>
              <img class="uk-border-rounded" src="assets/images/sedgwick/it_follows.jpg" style="height: 200px; object-position: 50% 90%"/>
              <p>...and the unsettling, indestructible entity of <i>It Follows</i>.</p>
            </div>
          </div>
        </div>

        <div class="uk-section uk-section-xsmall" id="characters">
          <h2 class="uk-heading">CHARACTERS</h2>

          <div class="uk-grid-medium uk-grid-match" uk-grid id="characters-lester">
            <div class="uk-width-1-1 uk-width-1-2@m">
              <h3 class="uk-margin-remove-bottom">Lester</h3>
              <p class="uk-text">
                "Sedgwick" is loudly about Lester. While he appears human, he is a ghoul &mdash; a haunting, physical entity.
                Lester ambles aimlessly around the streets of Chicago, completely out in the open. Bold residents take
                photos of him or follow him until they get bored...or until he attacks.
              </p>

              <dl class="uk-description-list">
                <dt>Q. Why don't police kill him?</dt>
                <dd>A. Because like gun violence or traffic deaths, Lester can't be stopped.</dd>

                <dt>Q. Why doesn't the city evacuate?</dt>
                <dd>A. Lester isn't like Godzilla, wrecking havoc and crushing buildings. He kills 8-10 people per year.
                  So...would you move from your city if the murder rate increased by 8-10 people?
                </dd>
              </dl>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@m">
              <img class="uk-border-rounded" src="assets/images/sedgwick/lester.jpg" alt="">
            </div>
          </div>

          <div class="uk-grid-medium uk-grid-match" uk-grid id="characters-chicago">
            <div class="uk-width-1-1 uk-width-1-2@m">
              <h3 class="uk-margin-remove-bottom">Chicago</h3>
              <p class="uk-text">
                "Sedgwick" is quietly about the inhabitants of Chicago, and how we react to society's ills.
                <!--
                In the
                pilot episode these perspectives are on full display:
                -->
              </p>

              <ul class="uk-list uk-list-circle">
                <li>
                  <strong>Abby</strong>, a recent transplant to the city, finds Lester grimly fascinating &mdash; a
                  topic inappropriate for polite conversation.
                </li>
                <li>
                  <strong>Devon</strong>, a Chicago native, resents the way Lester's reputation has become synonymous
                  with the city's.
                </li>
                <li>
                  <strong>Raj</strong>, an upper-class resident of several years, caustically finds the ghoul an entertaining Chicago anecdote.
                </li>
                <li>
                  <strong>Vic</strong>, originally from the suburbs, is openly disgusted, and takes every opportunity to criticize the city for “allowing” the ghoul’s rampage to occur.
                </li>
              </ul>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@m">
              <img class="uk-border-rounded" src="assets/images/sedgwick/chicago.jpg" alt="">
            </div>
          </div>
        </div>

        <!--
        <div class="uk-section uk-section-xsmall" id="episodes">
          <h2 class="uk-heading">EPISODES</h2>
          <p class="uk-text">
            "Sedgwick" was written as an episodic short series. Each episode pivots to show the perspective of a
            Chicago inhabitant, and how Lester weaves himself into their lives.
          </p>

          <div class="uk-child-width-1-1 uk-child-width-1-3@m uk-grid-match" uk-grid>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-bottom">
                  <img src="assets/images/sedgwick/episode_1.jpg" />
                </div>
                <div class="uk-card-body">
                  <div class="uk-card-badge uk-label">In Development</div>
                  <h3 class="uk-card-title">Episode 1: Pilot</h3>
                  <p>
                    A recent Chicago transplant finds herself entranced by the city's most macabre attraction: a murderous
                    ghoul.
                  </p>
                </div>
                <div class="uk-card-footer">
                  <p class="uk-text-small uk-text-uppercase">Length: 10-12 minutes</p>
                </div>
              </div>
            </div>

            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-bottom">
                  <img src="assets/images/sedgwick/episode_2.jpg" />
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Episode 2: The Pit</h3>
                  <p>
                    Facing deportation, an Indian graduate school student explores the sites of Chicago during his last days in America.
                  </p>
                </div>
                <div class="uk-card-footer">
                  <p class="uk-text-small uk-text-uppercase">Length: 10-12 minutes</p>
                </div>
              </div>
            </div>

            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-bottom">
                  <img src="assets/images/sedgwick/episode_3.jpg" />
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Episode 3: Rabbit</h3>
                  <p>
                    A group of like-minded youth orchestrate a plan to draw an enemy into Lester's path.
                  </p>
                </div>
                <div class="uk-card-footer">
                  <p class="uk-text-small uk-text-uppercase">Length: 12-15 minutes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
