<div class="uk-background-cover uk-overflow-hidden uk-light uk-flex"
     style="background-image: url('assets/images/i-80/i_80.png'); background-position: 50% 60%; height: 350px;">
  <div class="uk-width-1-1 uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 class="uk-heading">I-80: An Interstate Crime Story</h1>
    <div class="pills">
      <button class="uk-button uk-button-primary uk-button-medium" disabled>
        Crime
      </button>
      <div class="uk-button uk-button-primary uk-button-medium" disabled>
        Limited Series
      </div>
    </div>
    <span style="position: relative; bottom: -50px; right: -250px">Jahongir Ismoilov</span>
  </div>
</div>

<div class="uk-section-xsmall">
  <div class="uk-container uk-container-expand">
    <div uk-grid>
      <div class="uk-visible@m uk-width-1-6@m">
        <div style="position: relative; left: 50px; top: 15px; float: left" uk-sticky="offset: 20">
          <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header">Pitch Deck</li>
            <li class="uk-nav-divider"></li>
            <li><a uk-scroll href="i-80#logline">Logline</a></li>
            <li><a uk-scroll href="i-80#introduction">Introduction</a></li>
            <li><a uk-scroll href="i-80#themes">Themes</a></li>
            <li><a uk-scroll href="i-80#structure">Structure</a></li>
            <li><a uk-scroll href="i-80#comparisons">Comparisons</a></li>
            <li>
              <a uk-scroll href="i-80#characters">Characters</a>
              <ul class="uk-nav-sub">
                <li><a uk-scroll href="i-80#The Locals">The Locals</a></li>
                <li><a uk-scroll href="i-80#The Outsiders">The Outsiders</a></li>
              </ul>
            </li>
            <li><a uk-scroll href="i-80#episodes">Episodes</a></li>
          </ul>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-5-6@m uk-width-2-3@l">
        <div class="uk-section uk-section-xsmall" id="logline">
          <h2 class="uk-heading">LOGLINE</h2>
          <p class="uk-text">
            A bumbling brother and sister seek petty revenge against a freight shipping magnate, drawing the attention
            of a traveling gun-for-hire seeking to escape her world of violence. When she seizes an opportunity to do
            so, a series of misunderstandings bring mayhem to a quiet Iowa city.
          </p>
        </div>

        <div class="uk-section uk-section-xsmall" id="introduction">
          <h2 class="uk-heading">INTRODUCTION</h2>
          <p class="uk-text">
            Interstate 80 is the shag carpeting of freeways. For 2900 ugly, unremarkable miles it connects San Francisco
            and Teaneck, New Jersey, avoiding every notable geological landmark in between. It doesn’t inspire or amuse.
            It simply represents the path of least resistance for East-West travel. The only marvels along its route are
            perhaps the Great Salt Lake, the Great Divide Basin, and a handful of mid-sized cities.
          </p>
          <p class="uk-text">
            Davenport, Iowa, is not one of those marvels. Like many would-be cities along the interstate, Davenport
            lives by the predictable rhythm of the freeway. The constant thrum of passing big rigs is interrupted only
            by the Great Summer Migration of motorists on their way to vacation destinations.
          </p>
          <p class="uk-text">
            It’s here, where nothing happens on purpose, that everything in this story happens by accident.
          </p>
          <p class="uk-text">
            It begins with a Gatorade bottle full of piss.
          </p>
        </div>

        <div class="uk-section uk-section-xsmall uk-text-center">
          <img src="assets/images/i-80/trunk.png"/>
        </div>

        <div class="uk-section uk-section-xsmall" id="themes">
          <h2 class="uk-heading">THEMES</h2>
          <p class="uk-text">
            <i>Sedgwick</i> is about complacency. Anyone who has lived in a city knows there's a lot of suffering we
            wave away as "just part of life" &mdash; violence, drug overdoses, homelessness, <i>lead pipes</i>. They're
            so routine that we don't even fear them anymore.
          </p>

          <ul class="uk-list uk-list-circle">
            <li>To most, homelessness is an annoying blight</li>
            <li>To some, violence is a point of pride; "I'm from Chi-raq" means "I'm tougher than you"</li>
            <li>To right-wing commentators, a city struggling to curtail drug addiction is a cudgel to wave at liberal policies</li>
          </ul>

          <p class="uk-text-bold uk-text-italic">
            If this is how an American city handles societal ills...how would they handle the emergence of a monster?
          </p>
        </div>



        <div class="uk-section uk-section-xsmall" id="structure">
          <h2 class="uk-heading">STRUCTURE</h2>

          <ul uk-tab>
            <li><a href="#">Act I</a></li>
            <li><a href="#">Act II</a></li>
            <li><a href="#">Act III</a></li>
          </ul>

          <div class="uk-switcher uk-margin">
            <div>
              <h3 class="uk-heading">Episodes 1-3</h3>
              <p class="uk-text">
                In the first act, we are introduced to the two groups of characters: the squabbling Locals of Davenport,
                Iowa, and the malicious Outsiders who visit terror along the sleepy interstate. After a trucker throws a
                Gatorade bottle full of piss at Local Jesse Goetsch, he and sibling Mickey lash out against Local
                shipping magnates Alton and Dawn Eberle.  Their petty revenge draws the attention of Outsider hitwoman
                Mal Ziaja, traveling through town on her way to kill a businessman in Reno.
              </p>
              <p class="uk-text">
                Meanwhile, Outsider enforcers Vas Reddy and Love Jacunski arrive in Davenport, contracted to collect a
                debt owed by the Eberles to their employer.
              </p>
            </div>
            <div>
              <h3 class="uk-heading">Episodes 4-6</h3>
              <p class="uk-text">
                In the second act, the squabbles between the Goetschs and Eberles escalate when Jesse’s friend, Local Ed
                Mercado, begins a romance with their daughter, Local Rianne Eberle.
              </p>
              <p class="uk-text">
                Mal, fed up with her life of violence, imprisons Claudia in the back of her trailer and claims her
                identity. On her way back to Davenport, she severs the last connection to her previous life by killing
                Gid Depue, her handler.
              </p>
              <p class="uk-text">
                Vas and Love investigate Mal’s actions and incorrectly conclude the Eberles have hired her to tie up
                loose ends. Fearing for their lives, they kidnap Rianne to guarantee their safety.
              </p>
            </div>
            <div>
              <h3 class="uk-heading">Episodes 7-8</h3>
              <p class="uk-text">
                The misunderstandings of the characters reach a fever pitch. Mal’s new life of tranquility is threatened
                when Claudia escapes. Without a clear enemy, the Eberles hunt the Goetschs, even as the Goetschs
                themselves have fallen victim to Mal. Vas and Love, thinking their lives are also in danger, bizarrely
                find themselves with no pursuers at all, leading to a final confrontation wherein no one knows the true
                motivations of anyone else.
              </p>
            </div>
          </div>
        </div>

        <div class="uk-section uk-section-xsmall" id="characters">
          <h2 class="uk-heading">CHARACTERS</h2>

          <div *ngFor="let entry of typeToCharacters | keyvalue: returnZero" [id]="entry.key">
            <h3 class="uk-heading">{{entry.key}}</h3>

            <div class="uk-grid uk-grid-collapse uk-child-width-1-5" uk-tab uk-grid style="margin-left: 0px">
              <div class="character" *ngFor="let character of entry.value">
                <div class="uk-card uk-card-default">
                  <div class="uk-card-media-top">
                    <img height="250" width="250" src="assets/images/i-80/{{character.image}}"/>
                  </div>
                  <div class="uk-card-body" style="padding: 0px">
                    <div class="uk-text uk-text-center">{{character.name}}</div>
                  </div>
                </div>
              </div>
              <!--
              <div class="uk-inline uk-background-primary" *ngFor="let character of entry.value">
                <img height="200" width="200" src="assets/images/i-80/{{character.image}}"/>
                <div class="uk-position-bottom-center">
                  <p class="uk-h4">{{character.name}}</p>
                </div>
              </div>
              -->
            </div>

            <div class="uk-switcher uk-margin">
              <div *ngFor="let character of entry.value">
                <h3 class="uk-heading">{{character.name}}</h3>
                <p class="uk-text-emphasis uk-text-italic">"{{character.quote}}"</p>
                <span [innerHtml]="character.summary"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="uk-section uk-section-xsmall" id="comparisons">
          <h2 class="uk-heading">COMPARISONS</h2>
          <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
              <img class="uk-border-rounded" src="assets/images/sedgwick/candyman.jpeg" style="height: 200px; object-position: 50% 10%"/>
              <p>Combine the city setting and community focus of <i>Candyman</i>...</p>
            </div>
            <div>
              <img class="uk-border-rounded" src="assets/images/sedgwick/jaws.jpg" style="height: 200px; object-position: 50% 5%"/>
              <p>...with the inept and complacent city government of <i>Jaws</i>...</p>
            </div>
            <div>
              <img class="uk-border-rounded" src="assets/images/sedgwick/it_follows.jpg" style="height: 200px; object-position: 50% 90%"/>
              <p>...and the unsettling, indestructible entity of <i>It Follows</i>.</p>
            </div>
          </div>
        </div>

        <div class="uk-section uk-section-xsmall" id="episodes">
          <h2 class="uk-heading">EPISODES</h2>
          <p class="uk-text">
            <i>Sedgwick</i> was written as an episodic short series. Each episode pivots to show the perspective of a
            Chicago inhabitant, and how Lester weaves himself into their lives.
          </p>

          <div class="uk-child-width-1-1 uk-child-width-1-3@m uk-grid-match" uk-grid>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-bottom">
                  <img src="assets/images/sedgwick/episode_1.jpg" />
                </div>
                <div class="uk-card-body">
                  <div class="uk-card-badge uk-label">In Development</div>
                  <h3 class="uk-card-title">Episode 1: Pilot</h3>
                  <p>
                    A recent Chicago transplant finds herself entranced by the city's most macabre attraction: a murderous
                    ghoul.
                  </p>
                </div>
                <div class="uk-card-footer">
                  <p class="uk-text-small uk-text-uppercase">Length: 10-12 minutes</p>
                </div>
              </div>
            </div>

            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-bottom">
                  <img src="assets/images/sedgwick/episode_2.jpg" />
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Episode 2: The Pit</h3>
                  <p>
                    Facing deportation, an Indian graduate school student explores the sites of Chicago during his last days in America.
                  </p>
                </div>
                <div class="uk-card-footer">
                  <p class="uk-text-small uk-text-uppercase">Length: 10-12 minutes</p>
                </div>
              </div>
            </div>

            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-bottom">
                  <img src="assets/images/sedgwick/episode_3.jpg" />
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Episode 3: Rabbit</h3>
                  <p>
                    A group of like-minded youth orchestrate a plan to draw an enemy into Lester's path.
                  </p>
                </div>
                <div class="uk-card-footer">
                  <p class="uk-text-small uk-text-uppercase">Length: 12-15 minutes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
