<nav class="uk-navbar-container">
  <div class="uk-container">

    <!-- Small screens -->
    <div uk-navbar class="uk-hidden@m">
      <ul class="uk-navbar-nav uk-iconnav" uk-tab uk-switcher="connect: .project-tab">
        <li><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'summary'}" uk-icon="icon: file-text"></a></li>
        <li *ngIf="project.shotlist" routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'shotlist'}" uk-icon="icon: camera"></a></li>
        <li *ngIf="project.shadows" routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'shadows'}" uk-icon="icon: future"></a></li>
        <li *ngIf="project.video" routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'video'}" uk-icon="icon: play"></a></li>
        <li *ngIf="project.locations" routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'locations'}" uk-icon="icon: location"></a></li>
        <li *ngIf="project.locations" routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'film-days'}" uk-icon="icon: calendar"></a></li>
        <li *ngIf="!isLoggedIn">
          <a href uk-icon="icon: sign-in" (click)="login()">Log in</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href uk-icon="icon: sign-out" (click)="logout()">Log out</a>
        </li>
      </ul>
    </div>

    <!-- Large screens -->
    <div uk-navbar class="uk-visible@m">
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav " uk-tab uk-switcher="connect: .project-tab">
          <li routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'summary'}">{{project.summary.title}}</a></li>
          <li *ngIf="project.shotlist" routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'shotlist'}"><span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: camera"></span> Shotlist</a></li>
          <li *ngIf="project.shadows" routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'shadows'}"><span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: future"></span> Shadows</a></li>
          <li *ngIf="project.video" routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'video'}"><span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: play"></span> Video</a></li>
          <li *ngIf="project.locations" routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'locations'}"><span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: location"></span> Locations</a></li>
          <li *ngIf="project.locations" routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'film-days'}"><span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: calendar"></span> Film Days</a></li>
        </ul>
      </div>

      <div class="uk-navbar-right">
        <div class="uk-navbar-item">
          <button *ngIf="!isLoggedIn" class="uk-button uk-button-secondary" (click)="login()">
            <span class="uk-icon" uk-icon="google"></span> Log in
          </button>
          <button *ngIf="isLoggedIn" class="uk-button uk-button-default" (click)="logout()">
            <span class="uk-icon" uk-icon="google"></span> Log out
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="uk-switcher project-tab">

  <!-- Summary -->
  <div class="uk-section uk-section-small">
    <div class="uk-container">
      <h2 class="uk-heading">{{project.summary.title}}</h2>
    </div>
  </div>

  <!-- Shotlist -->
  <app-shotmaker-shotlist *ngIf="project.shotlist" [project]="project"></app-shotmaker-shotlist>

  <!-- Shadows -->
  <app-shotmaker-shadows *ngIf="project.shadows" [project]="project"></app-shotmaker-shadows>

  <!-- Video -->
  <div *ngIf="project.video">
    <div class="uk-section uk-section-small">
      <div class="uk-container">
        <video [src]="project.video.link" width="1920" height="1080" controls uk-video="autoplay: false"></video>
      </div>
    </div>
  </div>

  <!-- Locations -->
  <app-shotmaker-locations *ngIf="project.locations" [project]="project"></app-shotmaker-locations>

  <!-- Film Days -->
  <app-shotmaker-locations *ngIf="project.locations" [project]="project"></app-shotmaker-locations>
</div>
