<nav class="uk-navbar-container">
  <div class="uk-container">
    <div uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav " uk-tab uk-switcher="connect: .project-tab">
          <li routerLinkActive="uk-active"><a routerLink="/shotmaker/{{activeProjectId}}/summary">{{activeProject.summary.title}}</a></li>
          <li routerLinkActive="uk-active"><a routerLink="/shotmaker/{{activeProjectId}}/shotlist"><span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: camera"></span> Shotlist</a></li>
          <li routerLinkActive="uk-active"><a routerLink="/shotmaker/{{activeProjectId}}/video"><span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: play"></span> Video</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="uk-switcher project-tab">
  <div>
    <div class="uk-section uk-section-small">
      <div class="uk-container">
        <h2 class="uk-heading">{{activeProject.summary.title}}</h2>
      </div>
    </div>
  </div>
  <div>
    <div class="uk-grid uk-grid-collapse" uk-grid>
      <div class="uk-width-1-6">
        <ul class="uk-tab-left" uk-tab uk-switcher="connect: .project-shotlist">
          <li class="uk-text-truncate" routerLinkActive="uk-active" *ngFor="let shot of activeProjectShots">
            <a href="#">
              <span>{{shot.scene}}-{{shot.setup}}{{shot.shotId}}</span>
              <div style="text-transform: none">{{shot.subject}}</div>
            </a>
          </li>
        </ul>
      </div>

      <div class="uk-width-5-6 uk-switcher project-shotlist">
        <div *ngFor="let shot of activeProjectShots">
          <div class="uk-section uk-padding-small uk-section-muted">
            <div class="uk-container">
              <table class="uk-table uk-table-small uk-table-divider uk-margin-small-bottom">
                <thead>
                <tr>
                  <th class="uk-table-shrink">Subject</th>
                  <th class="uk-table-shrink">Notes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{shot.subject}}</td>
                  <td>{{shot.notes}}</td>
                </tr>
                </tbody>
              </table>

              <table class="uk-table uk-table-small uk-table-divider uk-margin-small-top">
                <thead>
                  <tr>
                    <th class="uk-table-shrink">Camera</th>
                    <th class="uk-table-shrink">Lens</th>
                    <th class="uk-table-shrink">Angle</th>
                    <th class="uk-table-shrink">Movement</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{shot.camera}}</td>
                    <td>{{shot.lens}}</td>
                    <td>{{shot.angle}}</td>
                    <td>{{shot.movement}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <img src="{{shot.imageLink}}" />
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="uk-section uk-section-small">
      <div class="uk-container">
        <video [src]="activeProject.video.link" width="1920" height="1080" controls uk-video="autoplay: false"></video>
      </div>
    </div>
  </div>
</div>
