<nav class="uk-navbar-container">
  <div class="uk-container">
    <div uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav " uk-tab uk-switcher="connect: .project-tab">
          <li class="uk-visible@s" routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}/summary">{{project.summary.title}}</a></li>
          <li routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}/shotlist"><span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: camera"></span> Shotlist</a></li>
          <li routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}/shadows"><span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: future"></span> Shadows</a></li>
          <li routerLinkActive="uk-active"><a routerLink="/shotmaker/{{project.id}}/video"><span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: play"></span> Video</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="uk-switcher project-tab">

  <!-- Summary -->
  <div class="uk-visible@s">
    <div class="uk-section uk-section-small">
      <div class="uk-container">
        <h2 class="uk-heading">{{project.summary.title}}</h2>
      </div>
    </div>
  </div>

  <!-- Shotlist -->
  <app-shotmaker-shotlist [project]="project"></app-shotmaker-shotlist>

  <!-- Shadows -->
  <app-shotmaker-shadows [project]="project"></app-shotmaker-shadows>

  <!-- Video -->
  <div>
    <div class="uk-section uk-section-small">
      <div class="uk-container">
        <video [src]="project.video.link" width="1920" height="1080" controls uk-video="autoplay: false"></video>
      </div>
    </div>
  </div>
</div>
