<div *ngIf="isLoggedIn && tab === 'locations'" class="uk-grid uk-grid-collapse" uk-grid>

  <!-- Large screens -->
  <div class="uk-width-1-4@m uk-width-1-5@l shotmaker-shotlist-nav">
    <div class="uk-navbar-container">
      <ul class="uk-flex-center uk-margin-remove-bottom uk-tab" >
        <li routerLinkActive="uk-active">
          <a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'locations', view: 'scenes', sceneId: entityId}">
            <span class="uk-icon" uk-icon="icon: list"></span> Scenes
          </a>
        </li>
        <li routerLinkActive="uk-active">
          <a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'locations', view: 'locations', sceneId: entityId}">
            <span class="uk-icon" uk-icon="icon: location"></span> Locations
          </a>
        </li>
      </ul>
    </div>

    <app-shotmaker-location-nav-pane
      [project]="project"
      [scenes$]="scenes$"
      [selectedScene$]="selectedScene$">
    </app-shotmaker-location-nav-pane>
  </div>

  <app-shotmaker-location-detail-pane
    class="uk-width-3-4@m uk-width-4-5@l"
    [project]="project"
    [scene$]="selectedScene$">
  </app-shotmaker-location-detail-pane>
</div>

<div *ngIf="isLoggedIn && tab === 'film-days'" class="uk-grid uk-grid-collapse" uk-grid>
  <div class="uk-width-1-4@m uk-width-1-5@l shotmaker-shotlist-nav">
    <app-shotmaker-film-days-nav-pane
      [project]="project"
      [filmDays$]="filmDays$"
      [selectedFilmDay$]="selectedFilmDay$">
    </app-shotmaker-film-days-nav-pane>
  </div>

  <app-shotmaker-film-days-detail-pane
    class="uk-width-3-4@m uk-width-4-5@l"
    [project]="project"
    [filmDay$]="selectedFilmDay$">
  </app-shotmaker-film-days-detail-pane>
</div>

<div *ngIf="!isLoggedIn" class="uk-grid uk-grid-collapse" uk-grid>
  <div class="uk-width-1-1">
    <div class="uk-text-center uk-section">
      <p>Please log in</p>
    </div>
  </div>
</div>
