<div class="flex-column" cdkScrollable>
  <div class="uk-section uk-section-muted shot-list-summary uk-text-center uk-text-uppercase uk-text-meta">
    {{shotsShootTimeHours}} hr, {{shotsShootTimeMinutes}} min {{status}}
  </div>
  <ul class="uk-nav uk-nav-default shot-list"
      cdkDropList
      [cdkDropListData]="shots"
      (cdkDropListDropped)="dropShot($event)">
    @for (shot of shots; track shot) {
    <li routerLinkActive="uk-active" class="shot-list-item uk-text-truncate" cdkDrag cdkDragLockAxis="y" [cdkDragStartDelay]="500">
      <a routerLink="/shotmaker/{{projectId}}/shotlist/{{status}}/{{shot.id}}">
        <span class="shot-list-item-size-label uk-label {{getShotLabelClass(shot)}}">{{getShotLabel(shot)}}</span>
        <span>{{shot.scene}}-{{shot.setup}}{{shot.shotId}}</span>
        <div style="text-transform: none">{{shot.subject}}</div>
      </a>
    </li>
    }
  </ul>
</div>
