.shot-list-summary,
.shot-list-item {
  font-size: 0.8rem;
  padding-left: 5px;
  border-top: 0.1px solid #999;
  a {
    //pointer-events: none;
  }
}

.shot-list-summary {
  padding-top: 5px;
  padding-bottom: 5px;
}

.shot-list-item-size-label {
  font-family: monospace;
  font-size: 0.7rem;
}
