<div [ngSwitch]="scene === undefined">
  <div *ngSwitchCase="true" class="uk-section uk-section-large">
    <div class="uk-container uk-text-center">
      <p class="uk-text-meta">Pick a scene</p>
    </div>
  </div>

  <div *ngSwitchCase="false">
    <div class="uk-section uk-section-muted uk-section-small">
      <div class="uk-container">
        <div class="uk-align-left">
          <h3 class="uk-header">
            Scene {{scene?.id}}: {{scene?.setting}}. {{scene?.description}} - {{scene?.timeOfDay}}
          </h3>
        </div>
      </div>

      <div class="uk-container">
        <div class="uk-alert-danger" uk-alert *ngFor="let warning of scene?.warnings">
          <span class="uk-margin-small-right" uk-icon="warning"></span> {{warning}}
        </div>

        <table class="uk-table uk-table-small uk-table-divider">
          <caption>SCENE DETAILS</caption>
          <tbody>
            <tr>
              <td class="uk-text-muted uk-width-small">FILM DAY</td>
              <td><a routerLink="/shotmaker/{{project.id}}" [queryParams]="{ tab: 'film-days', filmDayId: scene?.filmDay }">{{scene?.filmDayString}}</a></td>
            </tr>
            <tr>
              <td class="uk-text-muted uk-width-small">NOTES</td>
              <td>
                <span *ngFor="let note of scene?.notes">
                  {{note}}<br/>
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="uk-alert-danger" uk-alert *ngFor="let warning of scene?.location?.warnings">
          <span class="uk-margin-small-right" uk-icon="warning"></span> {{warning}}
        </div>

        <table class="uk-table uk-table-small uk-table-divider">
          <caption>LOCATION DETAILS</caption>
          <tbody>
            <tr>
              <td class="uk-text-muted uk-width-small">OTHER SCENES</td>
              <td>
                <span class="uk-badge uk-margin-small-right" *ngFor="let sceneId of scene?.location?.sceneIds">{{sceneId}}</span>
              </td>
            </tr>
            <tr>
              <td class="uk-text-muted uk-width-small">NOTES</td>
              <td>
                <span *ngFor="let note of scene?.location?.notes">
                  {{note}}<br/>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="uk-section uk-section-default uk-padding-small uk-padding-remove-vertical">
      <div class="uk-container">
        <div class="uk-width-1-1">
          <ul class="uk-tab uk-child-width-expand" uk-tab uk-switcher="connect: .location-option">
            <li routerLinkActive="uk-active" *ngFor="let locationOption of scene?.location?.locationOptions">
              <a href="#">
                @if (locationOption.isChosen) {
                  <span uk-icon="icon: check"></span>
                }
                <span>{{getOptionTitle(locationOption)}}</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="uk-switcher location-option">
          <div *ngFor="let locationOption of scene?.location?.locationOptions">
            <div class="uk-width-1-1">

              <div class="uk-alert-danger" uk-alert *ngFor="let warning of locationOption.warnings">
                <span class="uk-margin-small-right" uk-icon="warning"></span> {{warning}}
              </div>

              <table class="uk-table uk-table-small uk-table-divider">
                <tbody>
                  <tr>
                    <td class="uk-text-muted uk-width-small">ADDRESS</td>
                    <td>
                      {{locationOption.address}}
                    </td>
                  </tr>
                  <tr>
                    <td class="uk-text-muted uk-width-small">CONTACT</td>
                    <td *ngFor="let contact of locationOption.contacts">
                      {{contact.name}}<br/>
                      {{contact.email}}<br/>
                      {{contact.phone}}
                    </td>
                  </tr>
                  <tr>
                    <td class="uk-text-muted uk-width-small">NOTES</td>
                    <td>
                      <span *ngFor="let note of locationOption.notes">
                        {{note}}<br/>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="uk-text-muted uk-width-small">APPROVAL</td>
                    <td><span class="uk-label {{getApprovalStatusClass(locationOption)}}">{{locationOption.approvalStatus}}</span></td>
                  </tr>
                  <tr class="do-not-print">
                    <td class="uk-text-muted uk-width-small">IMAGES</td>
                    <td>
                      <a target="_blank" class="uk-icon-button" [href]="locationOption.folderUrl"><span uk-icon="upload"></span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="loadingImages" class="uk-flex-center" uk-grid>
              <div uk-spinner="ratio: 3"></div>
            </div>

            <div class="uk-child-width-1-1@s" uk-grid="masonry: pack">
              <div *ngFor="let image of locationOption.horizontalImages" class="page-break">
                <div class="uk-card uk-flex uk-flex-center uk-flex-middle" style="height: {{image.file.imageMetadata?.smallHeight}}px">
                  <img [src]="image.url" alt="" [height]="image.file.imageMetadata?.smallHeight" [width]="image.file.imageMetadata?.smallWidth" uk-cover>
                </div>
              </div>
            </div>

            <div class="uk-child-width-1-2@m" uk-grid="masonry: pack">
              <div *ngFor="let image of locationOption.verticalImages" class="page-break">
                <div class="uk-card uk-flex uk-flex-center uk-flex-middle" style="height: {{image.file.imageMetadata?.smallHeight}}px">
                  <img [src]="image.url" alt="" [height]="image.file.imageMetadata?.smallHeight" [width]="image.file.imageMetadata?.smallWidth" uk-cover>
                </div>
              </div>
              <!--
              <div class="uk-position-relative" uk-slideshow="animation: fade">

                <div class="uk-slideshow-items">
                  <div *ngFor="let image of item.value.images">
                    <img [src]="image.url" alt="" [height]="image.file.imageHeight" [width]="image.file.imageWidth" uk-cover>
                  </div>
                </div>

                <div class="uk-position-bottom-center uk-position-small">
                  <ul class="uk-slideshow-nav uk-thumbnav">
                    @for (image of item.value.images; track image; let i = $index) {
                    <li [attr.uk-slideshow-item]="i">
                      <a><img [src]="image.url" width="100" height="67" alt=""></a>
                    </li>
                    }
                  </ul>
                </div>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
