<div>
  <div class="uk-grid uk-grid-collapse" uk-grid>
    <div class="uk-width-1-1 uk-width-1-6@m">
      <ul class="uk-tab-left shot-list-items" uk-tab uk-switcher="connect: .project-shotlist">
        <li class="uk-text-truncate" routerLinkActive="uk-active" *ngFor="let shadow of (projectShadows$ | async)">
          <a href="#">
            <span>{{shadow.time}}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="uk-width-1-1 uk-width-5-6@m uk-switcher project-shotlist">
      <div *ngFor="let shadow of (projectShadows$ | async)">
        <img src="{{shadow.imageLink}}" />
      </div>
    </div>
  </div>
</div>
