<!--
<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex" style="background-image: url('https://picsum.photos/id/120/1200/800');">
  <div class="uk-width-1-1 uk-width-1-2@s uk-text-center uk-text-left@s uk-margin-auto uk-margin-auto-vertical">
    <h1 class="uk-heading-medium uk-margin-remove">Alan Blake</h1>
    <p class="uk-text-lead uk-margin-remove">Writer / Editor</p>
  </div>
</div>
-->

<div class="uk-section-secondary uk-background-cover uk-preserve-color" style="background-image: url('https://picsum.photos/id/120/1200/800');">
  <!--
  <div uk-sticky="start: 170; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; end: ! *; offset: 80">
    <nav class="uk-navbar-container uk-light">
      <div class="uk-container">
        <div uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-nav uk-navbar-nav">
              <li routerLinkActive="uk-active"><a routerLink="home">Home</a></li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-nav uk-navbar-nav">
              <li routerLinkActive="uk-active"><a routerLink="contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  -->

  <nav class="uk-navbar-container uk-navbar-transparent uk-light">
    <div class="uk-container">
      <div uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-visible uk-navbar-nav">
            <li routerLinkActive="uk-active"><a class="uk-navbar-item" routerLink="home">Home</a></li>
          </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li routerLinkActive="uk-active"><a routerLink="contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="uk-section uk-light">
    <div class="uk-width-1-1 uk-width-1-2@s uk-text-center uk-text-left@s uk-margin-auto uk-margin-auto-vertical">
      <h1 class="uk-heading-medium uk-margin-remove">Alan Blake</h1>
      <p class="uk-text-lead uk-margin-remove">Writer / Editor</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="uk-section uk-section-xsmall">
  <div class="uk-container">
    <div class="uk-text-center">
      {{copyrightYears}} Alan Blake. All rights reserved.
    </div>
  </div>
</div>
