<div class="uk-section-secondary uk-preserve-color uk-padding uk-padding-remove-top">
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-2@s uk-flex-center uk-text-center uk-light">
      <div class="uk-margin-auto uk-margin-auto-vertical uk-visible@s">
        <img class="uk-border-circle" src="assets/images/alan_blake_small.jpg" width="400" height="400" alt="Alan Blake" />
      </div>
      <div class="uk-margin-auto uk-margin-auto-vertical">
        <h1 class="uk-heading-medium uk-margin-remove">Alan Blake</h1>
        <p class="uk-text-lead uk-margin-remove">Writer / Editor</p>
      </div>
    </div>
  </div>
</div>

<app-about></app-about>

<app-projects></app-projects>
